{% extends "layout-eua.html" %}

{% block pageTitle %}
UCDA-890
{% endblock %}

{% set serviceName %}
  View a job applicant's right to work
{% endset %}


{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}

  {% include "includes/backlink.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form action="enter-DOB" method="post" class="form">



      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="share-code">
            What is the job applicant's share code?
          </label>
        </h1>
        <div id="share-code-hint" class="govuk-hint">
          For example, W12 345 67G
        </div>
        <input class="govuk-input govuk-input--width-10" id="share-code" name="share-code" type="text" spellcheck="false" aria-describedby="share-code-hint">
      </div>


      <div class="govuk-inset-text">
      <p>The share code is created when the person gives you permission to view their status.</p>

      <p>Ask them to share the code with you.</p>

      <p>If you need help using this service, contact <a href="UK Visas and Immigration">UK Visas and Immigration</a>.</p>
    </div>

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </div>
</div>

{% endblock %}
