{% set serviceName = "" %}
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
  text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
            [The researcher will ask you some questions]
              </h1>
            </legend>

              <p class="govuk-body">Don't worry you haven't done anything wrong.</p>



              <p class="govuk-body">When you're ready just press the continue link.</p>

              <p class="govuk-body"> <a href="../account/evisa">Continue</a></p>


  </div>
</div>

{% endblock %}
