{% extends "V6-0/_layout-expired.html" %}

{% set accountActive = "applications" %}

{% block pageTitle %}
UK Visas and Immigration account
{% endblock %}

{% block content %}

  <!-- START dashboard -->


  <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

	  <h1 class="govuk-heading-l">
		  Your application
      </h1>

      </div>

  </div>


   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="ho-application">
          <div class="ho-application-content">
            <h2 class="govuk-heading-m">{% if data['visa-type'] %}{{ data['visa-type'] }}{% else %}Student{% endif %} visa</h2>

            <p class="govuk-body govuk-!-margin-bottom-1">
              <strong>
                Unique application number:
              </strong>UAN 3434-5999-5421-9332
            </p>


            <p class="govuk-body govuk-!-margin-bottom-1">
            <strong>
              Status:
              </strong> Granted
              <br>
          </p>

            <p class="govuk-body"><a class="govuk-link--no-visited-state" href="../download-why">Download a copy of this application</a></p>


          </div>
        </div>



        {% include "includes/help_contact_4-1.html" %}
      </div>


      {% include "includes/phase_banner_bottom.html" %}

{% endblock %}
