<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
    <div class="help-header-container">
      <p class="help-header">
        Need help using this service?<span><a href="/dates/sprint/deal/landlord/help" class="get-help">Get help</a></span>
      </p>
    </div>

</div>


<div class="phase-banner no-print help-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#" target="_blank">feedback</a> will help us to improve it.</span>
    </p>

    <div class="help-header-container">
      <p class="help-header">
        Need help using this service?<span><a href="/dates/sprint/deal/landlord/help" class="get-help">Get help</a></span>
      </p>
    </div>

</div>
