{% set serviceName = "" %}
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
  text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <form action="../cancel/home" method="post" novalidate>

      {% if (data['resend-code'] == "email-eua") %}
        {{ govukPanel({
          titleText: "Security code resent",
          html: "Please wait for new code",
          classes: "security-code-panel"
        }) }}
      {% endif %}

      <span class="govuk-caption-l">Sign in</span>

      {% call govukFieldset({
        legend: {
          text: "Check your email",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

        <p>We've sent you a single-use, 6-digit security code to:</p>
        {% if (data['secondary'] == "has-helper") %}
        <p><strong>s***l@gmail.com</strong></p>
        {% else %}
        <p><strong>d***l@work.co.uk</strong></p>
        {% endif %}

        <p>It may take a few minutes to arrive.</p>

        {{ govukInput({
          label: {
            text: "Security code"
          },
          classes: "govuk-input--width-10"
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-2"
        }) }}

        <p><a href="email-code?resend-code=email-eua">Resend code</a></p>

        <h2 class="govuk-heading-s">
          Problems signing in
        </h2>
        <p>If you cannot access this email address, <a href="ask-receive-code">use your phone instead</a>.</p>
        <p>If you no longer have access to your phone and email, <a href="https://update-your-details.homeoffice.gov.uk/account-recovery/help">recover your account</a>.</p>

      {% endcall %}
    </form>

  </div>
</div>

{% endblock %}
