.id-doc-card {
	border: 1px solid #b1b4b6
}

.id-doc-card {
	.govuk-\!-margin-bottom-6 {
		@media (min-width: 40.0625em) {
		margin-bottom: 30px !important;
		}
	}
}

.id-doc-card_header {
	display: flex;
	justify-content: space-between;
	align-items: start;
}


.id-doc-card {
	.id-doc-card_header {
		background-color: #f3f2f1;
		padding: 15px;
	}
}

.id-doc-card {
	.id-doc-card_body {
		padding: 15px;
	}
}

.id-doc-card .govuk-summary-list__row:last-child {
	border-bottom: 0;
}
