{% extends "layout_umd.html" %}
{% set serviceName = "Update your details" %}



{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<form action="verify-phone-update-self" method="post" novalidate>



<fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <span class="govuk-caption-l">Update my sign in</span>
  <h1 class="govuk-fieldset__heading">
    What is the new UK phone number?
  </h1>
</legend>
<div id="dob-hint" class="govuk-hint">
                We will send a security code to this phone number by text message.
              </div>
<div class="govuk-form-group">
  <label class="govuk-label" for="sign-phone-number">
    UK telephone number
  </label>
  <input class="govuk-input govuk-input--width-20" id="sign-phone-number" name="sign-phone-number" type="tel" autocomplete="tel"></div>

</fieldset>

{{ govukButton({
text: "Continue"
}) }}

</form>

<div class="govuk-inset-text blue-inset">
Need help? <a class="govuk-link--no-visited-state" href="/v1/detached/help">Contact us</a>
</div>

</div>
</div>

{% endblock %}
