{% extends "layout.html" %}

{% block pageTitle %}
UCDA-890
{% endblock %}

{% set serviceName %}
  View a job applicant's right to work
{% endset %}


{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}

  {% include "includes/backlink.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is the job applicant's date of birth?
            </h1>
          </legend>
          <span id="dob-hint" class="govuk-hint">
            For example, 31 3 1980
          </span>
          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" autocomplete="bday-day" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" autocomplete="bday-month" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" autocomplete="bday-year" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <form action="enter-company2" method="post" class="form">
      <button type="submit" class="govuk-button">
        Continue
      </button>


    </div>
  </div>

  {% endblock %}
