{% extends "layout.html" %}

{% block header %}

{{ govukHeader({
  homepageUrl: "/",
  serviceName: "UK Visas and Immigration",
  serviceUrl: serviceUrl,
  navigation: [
    {
      href: "eua/ask-document",
      text: "Sign out"
    }
  ]

}) }}

{% endblock %}


{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        },
        {
          href: "/docs/cookies",
          text: "Cookies"
        },
        {
          href: "/docs/privacy-policy",
          text: "Privacy policy"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
