
{% extends "layout.html" %}

{% block pageTitle %}
Prove your right to work
{% endblock %}

{% set serviceName %}
Prove your right to work
{% endset %}

{% block beforeContent %}

{% include "includes/phase_banner_beta.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation" style="background:#00703c">
      <h1 class="govuk-panel__title">
        Email sent
      </h1>
    <div class="govuk-panel__body">
        <!--<div class="ss-body-panel">-->


        We have sent an email to<br><strong>{{ data['email'] }}</strong>
      </div>
    </div>
    <br>

    <h2 class="govuk-heading-m">What happens next</h2>

      <p>Contact the person checking your right to work to make sure they have all the information they need.</p>
      <p>To view your right to work, they must:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>go to <a href="https://www.gov.uk/view-right-to-work">www.gov.uk/view-right-to-work</a></li>
        <li>enter your date of birth</li>
        <li>use the share code from this email by 2 August 2022</li>
      </ul>


      <p><a href="../not-in-prototype.html">Share with another employer</a></p>

        </div>
    </div>
      {% endblock %}
