{% extends "V5-0/_layout-account.html" %}
{% set accountActive = "home" %}

{% block pageTitle %}
UK Visas and Immigration account
{% endblock %}
UK Visas and Immigration account
{% block content %}

  <!-- START dashboard -->

  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-two-thirds">

	  </div>
  </div>

  <div class="govuk-grid-row">

	  <!-- <div class="govuk-grid-column-one-quarter">

	  <img src="/public/images/profile-pic.png" alt="User icon">

      </div> -->

    <div class="govuk-grid-column-two-thirds">

  	  <span class="govuk-caption-l">Account home</span>
  	  <h1 class="govuk-heading-l govuk-!-margin-bottom-9">

  		  {% if data['given-name'] %}{{ data['given-name'] }}{% else %}Daryl{% endif %}
  		  {% if data['surname'] %}{{ data['surname'] }}{% else %}Machado Gomes{% endif %}

  		</h1>

    </div>

  </div>


  <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

       <section class="govuk-!-margin-bottom-8">
         <h2 class="govuk-heading-m">Your application</h2>

         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

         <p class="govuk-body govuk-!-margin-bottom-3">You have no recent applications.</p>
        <p>To apply go to GOV.UK and <a href="#">choose an application</a>.</p>

        </section>

		  	<section class="govuk-!-margin-bottom-8">
			  	<h2 class="govuk-heading-m">Manage your account</h2>

			  	<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

			  	  <p class="govuk-body">You must keep your details up to date so that you can:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>sign in to your account securely</li>
                <li>manage who can access your account to help with your application</li>
              </ul>

			  	  <p class="govuk-body"><a href="sign-in">Manage your sign in details</a></p>
		  	</section>

        {% include "includes/help_contact_4-1.html" %}
      </div>
  </div>

{% include "includes/phase_banner_bottom.html" %}

{% endblock %}
