
{% extends "layout.html" %}

{% block pageTitle %}
BRP/BRC comms
{% endblock %}

{% set serviceName %}
Prove your right to work
{% endset %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}
{% include "includes/backlink.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Enter employer's email address
    </h1>



    <form action="confirm-checker-email" method="post" class="form">

    <div class="govuk-form-group">
      <label class="govuk-label" for="email">
        Employer's email address
      </label>
      <div class="email-container">
        <div class="email-input">
          <input class="govuk-input" style="margin:20px 0 0 0" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
        </div>
      </div>
<p class="govuk-body govuk-!-margin-bottom-6"></p>

<button type="submit" class="govuk-button">
Continue
</button>


    </div>


  </div>
</div>

{% endblock %}
