
{% extends "layout.html" %}

{% block pageTitle %}
BRP/BRC comms
{% endblock %}


{% set serviceName %}
BRP/BRC comms
{% endset %}

{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"><strong class="govuk-tag">DRAFT</strong>
        <span class="govuk-caption-l">January 2022</span>
      </div>
      </div>
    <br>
    <h1 class="govuk-heading-xl">
     BRP/BRC comms
    </h1>

    <p>This prototype is for testing the content changes to the BRP/BRC comms on the migrant journey.</p>


        <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">RTW</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Screen Index</th>
            <th scope="col" class="govuk-table__header">Description</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="start">Service start page</a></th>
            <td class="govuk-table__cell">Existing screen</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="brc-brp-notice">BRC/BRP notice</a></th>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Updated</strong> Content changed</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="entry-point">Entry point</a></th>
            <td class="govuk-table__cell">Existing screen</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="enter-DOB">Enter DOB</a></th>
            <td class="govuk-table__cell">Existing screen</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="profile">Profile</a></th>
            <td class="govuk-table__cell">Existing screen</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="create-share-code">Create share code</a></th>
            <td class="govuk-table__cell">Existing screen</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="add-checker-email">Add checker email</a></th>
            <td class="govuk-table__cell">Existing screen</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="signed-out">Sign out page</a></th>
            <td class="govuk-table__cell">Existing screen</td>
          </tr>
        </tbody>
      </table>







</div>
</div>




      {% endblock %}
