{% extends "V7-0/_layout-euss.html" %}
{% set serviceUrl = "home" %}

{% set accountActive = "manage" %}

{% set subNavState = "full" %}
{% set subNavActive = "sign-in" %}

{% block pageTitle %}
UK Visas and Immigration account
{% endblock %}

{% block content %}

  <!-- START dashboard -->


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Manage account</span>
      <h1 class="govuk-heading-l">

        {% if data['given-name'] %}{{ data['given-name'] }}{% else %}Daryl{% endif %}
        {% if data['surname'] %}{{ data['surname'] }}{% else %}Machado Gomes{% endif %}

      </h1>

      </div>
  </div>


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
{% include "V7-0/_components/sub-nav.html" %}

    </div>

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m govuk-!-padding-top-3">Your sign in details</h2>
      <p class="govuk-body govuk-!-margin-bottom-1">This is the identity document you use to sign in to your account.</p>

      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="padding-bottom: 0;">
            Document type
          </dt>
          <dd class="govuk-summary-list__value" style="padding-bottom: 0;">
            Passport
          </dd>
        </div>
        <div class="govuk-summary-list__row ">

          <dt class="govuk-summary-list__key" style="padding-bottom: 0;">
            Document number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['brp-number'] %}{{ data['brp-number'] }}{% else %}RAX203829{% endif %}
          </dd>
        </div>
      </dl>

    <p class="govuk-body govuk-!-padding-top-1">These are the phone number and email address we send security codes to when you sign in.</p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['number'] %}{{ data['number'] }}{% else %}+447800900811{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-why">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['email-address'] %}{{ data['email-address'] }}{% else %}butterfly22@gmail.com{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="change-why">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>



      <h2 class="govuk-heading-m govuk-!-padding-top-7">Your helper's sign in details</h2>
      <p class="govuk-body">You can give someone else access to help you with your visa application. This is called a 'helper'. For example this could be a friend, family member or immigration advisor.</p>

      <p><a href="add-helper-why" class="govuk-link">Add a helper</a></p>


    {% include "includes/help_contact_4-1.html" %}
  </div>
  </div>

  {% include "includes/phase_banner_bottom.html" %}



{% endblock %}
