{% extends "V4-1/_layout-granted.html" %}
{% set accountActive = "evisa" %}

{% block pageTitle %}
UK Visas and Immigration account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div>
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <h1 class="govuk-heading-l">
              Your eVisa
        		</h1>


            <!-- Status card start -->

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">

                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                      John Doe
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Status
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Frontier worker permit revoked
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Revoked on
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p class="govuk-body">13 October 2020</p>
                    </dd>
                  </div>
                </dl>

              </div>

            </div>
          </div>
        </div>

    </div>
    <!-- Status card end -->

</div>
</div>


<!-- <div class="govuk-grid-row"> -->
<!-- <div class="govuk-grid-column-two-thirds-from-desktop"> -->
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

      <div class="govuk-inset-text"><p>Your permit has been revoked, which means you no longer have the right to enter or stay in the UK as a Frontier worker.
      </p>

        <p class="govuk body">Contact <a href="https://www.gov.uk/contact-ukvi-inside-outside-uk">UK Visas and Immigration</a> if you
           think this is wrong.</p>

      </div>


          <p class="govuk body">See your latest Home Office decision letter or email for more information about why this has happened and what to do next.</p>
</div>

</div>

  <div style="margin: 0px 0px 30px 0px;">


  </div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			{% include "includes/help_contact_4-1.html" %}
		</div>
    </div>










{% endblock %}
