
{% extends "layout.html" %}

{% block pageTitle %}
UCDA-890
{% endblock %}

{% set serviceName %}
View a job applicant's right to work
{% endset %}

{% block beforeContent %}
{% include "includes/phase_banner_beta.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">







          <!-- Status card start -->

          <div class="SS-status-card">
            <div class="SS-status-card_header">
              <h2 class="govuk-heading-s SS-white">Right to work</h2>
            </div>
            <div class="SS-status-card_body clearfix">

              <div class="SS-onequarter">
                <img class="SS-profile-pic" src="/../../../../public/images/olivia-lesotho.png" />
                  <input id="rotateImage" class="button-secondary no-print" aria-label="Rotate profile image" type="button" value="Rotate ↻"></input>
              </div>

              <div class="SS-threequarter">
                <div class="SS-status-card__bodyPadding">
                  <h1 class="govuk-heading-m">Olivia Lesotho</h1>
                  <p>They can work in the UK until 30 September 2024.</p>

                  <h2 class="govuk-heading-s">Details</h2>

                  <p class="govuk body">On their current visa they must work for their sponsor while they are in the UK.</p>

                  <p class="govuk body">They can also work in a part-time job (up to 20 hours per week) in another job
                    if it is one of the following:

                     <ul class="govuk-list govuk-list--bullet">
                       <li>the same role as their current job</li>
                       <li>on the <a href="https://www.gov.uk/guidance/immigration-rules/immigration-rules-appendix-shortage-occupation-list">Shortage Occupation List</a></li>
                     </ul>

                  <p class="govuk-body">Any part-time job must be outside the hours they work for their sponsor.</p>

                  <p class="govuk-body">They can also:</p>

                     <ul class="govuk-list govuk-list--bullet">
                       <li>do voluntary work &#8211 this is unpaid except for reasonable expenses</li>
                        <li>complete the notice period for a job they were doing when they applied</li>
                     </ul>

                  <p class="govuk-body">These conditions are the standard requirements for their visa.</p>

                </div>
              </div>
              <!--  -->

              <!--  -->
            </div>
          </div>
<br>
          <!-- Status card end -->

          <!--start share status and update details  -->
          <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
         <h2 class="govuk-heading-m">If you employ this person</h2>

          <p class="govuk-body">To avoid a <a href="#">penalty</a>, you must:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>check this looks like the person you meet face to face</li>
              <li>keep a secure copy of this online check (either electronically or in hard copy), for the duration of the
              employment and for 2 years after</li>
            </ul>

          <p class="govuk-body">You must do this check again by 30 September 2024.</p>

          <p class="govuk-body">Read the <a href="#">employers' code of practice</a> to find out more about right to work checks.</p>

          <!-- end start share status and update details -->
          </div>
        </div>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="SS-status-card_header-checker-double">
              <h2 class="govuk-heading-m" style= "padding-left: 15px">Details of check</h2>


              <div class="grid-row">
                <div class="govuk-grid-column-one-third">
                  <h3 class="govuk-heading-s">Company name</h3>
                  <p>Sport Relief</p>
                </div>
                </div>

              <div class="grid-row">
                <div class="govuk-grid-column-one-third">
                  <h3 class="govuk-heading-s">Date of check</h3>
                  <p class="govuk body">{{ date() }}</p>
              </div>

              <div class="grid-row">
                  <div class="govuk-grid-column-one-third">
                    <h3 class="govuk-heading-s">Reference number</h3>
                    <p>SC-4CL8BW2-ZX</p>
                </div></div>
            </div>
</div>
            </div>
        </div>
        <div style="margin: 0px 0px 30px 0px;">

              <p style="display:inline;margin:0 30px 0 0;"><span class="hod-printer side-space icon-medium"></span><a href="#" onclick="window.print()" class="no-print">Print this page</a></p>

              <p style="display:inline;margin:0 30px 0 0;"><span class="hod-file-empty side-space icon-medium"></span><a href="#" onclick="window.print()" class="no-print">Download PDF</a></p>
</div>


<br>



<form action="enter-sharecode" method="post" class="form">
        <div class="govuk-button-group">


            <button type="submit" class="govuk-button">
            Check another job applicant
          </button>





      <a class="govuk-link" href="checker-start">Finish and leave service</a>
        </div>

    {% endblock %}
