<div class="govuk-width-container">
<!-- ACCOUNT MENU -->

<div class="service-info">
  <nav id="secondary-nav" class="account-menu" role="navigation" aria-label="Account">
	
	
    <a href="#" class="account-menu__link account-menu__link--home account-menu__link--active">
      <span class="account-icon account-icon--home">Account home</span>
    </a>
    
    <!-- mobile nav
    <a href="#" class="account-menu__link account-menu__link--menu js-visible js-hidden">Account menu</a>
    -->
    
    <ul class="account-menu__main">
      <li>
        <a href="#" class="account-menu__link">Applications</a>
      </li>
      <li>
        <a href="#" class="account-menu__link">Immigration status</a>
      </li>
      <li>
        <a href="#" class="account-menu__link">Your details</a>
      </li>
    </ul>
    
    
  </nav>
</div>
  
  <!-- END ACCOUNT MENU -->
  
</div>