{% extends "V7-0/_layout-euss.html" %}
{% set serviceUrl = "home" %}


{% set accountActive = "applications" %}

{% block pageTitle %}
UK Visas and Immigration
{% endblock %}

{% block content %}

  <!-- START dashboard -->


  <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

	  <h1 class="govuk-heading-l">
		  Your applications
      </h1>

      </div>

  </div>


   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <div class="ho-application govuk-!-margin-bottom-7">
          <div class="ho-application-content">
            <h2 class="govuk-heading-m">EU Settlement Scheme</h2>

            <p class="govuk-body govuk-!-margin-bottom-1">
              <strong>
                Unique application number (UAN):
              </strong>3434-5999-5421-9332
            </p>

            <p class="govuk-body govuk-!-margin-bottom-4">
            <strong>
              Status:
            </strong>Started on {{ date() }}
            </p>

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue your application",
                href: "task-list"
              }) }}

            </div>

            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
            <p class="govuk-body govuk-!-margin-top-3">If you no longer want to apply you can <a class="govuk-link--no-visited-state" href="delete-why">delete your application</a>.</p>
          </div>
        </div>

          <h2 class="govuk-heading-m">Completed</h2>

          <div class="ho-application">
            <div class="ho-application-content">
              <h2 class="govuk-heading-m">EU Settlement Scheme</h2>

              <p class="govuk-body govuk-!-margin-bottom-1">
                <strong>
                  Unique application number (UAN):
                </strong>5457-3392-8271-0092
              </p>

              <p class="govuk-body govuk-!-margin-bottom-4">
              <strong>
                Status:
              </strong>Granted on 12 April 2021
              </p>

              <p><a href="#" onclick="window.print()">Download application (PDF copy)</a></p>
            </div>
          </div>


        {% include "includes/help_contact_4-1.html" %}
      </div>


      {% include "includes/phase_banner_bottom.html" %}

{% endblock %}
